In [1]:
from pyspark.sql import SparkSession

In [3]:
## Creation  de la session Spark
spark = SparkSession.builder.appName("GenderCount").getOrCreate()

your 131072x1 screen size is bogus. expect trouble
23/11/16 09:46:08 WARN Utils: Your hostname, mathias-PC resolves to a loopback address: 127.0.1.1; using 172.28.121.223 instead (on interface eth0)
23/11/16 09:46:08 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/11/16 09:46:10 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [8]:
## Load data
data = spark.read.csv("Salary.csv",header=True,inferSchema=True)

In [10]:
## count the number of genders on the dataset
gender_count = data.groupBy("Gender").count()
gender_count.show()

+------+-----+
|Gender|count|
+------+-----+
|Female| 3013|
|  Male| 3671|
+------+-----+

In [13]:
## Salary avg for title job
salary_avg = data.groupBy("Job Title").agg({"Salary":"avg"})
salary_avg.show()

+--------------------+------------------+
|           Job Title|       avg(Salary)|
+--------------------+------------------+
|           Scientist|123333.33333333333|
|Digital Marketing...| 93269.23076923077|
|    Product Designer|           61937.5|
|   Financial Manager| 141510.7913669065|
|   Event Coordinator|           52500.0|
|   Financial Analyst| 86415.09433962264|
|Business Intellig...|           85000.0|
|     Sales Executive| 43026.31578947369|
|    Network Engineer|           60000.0|
|     Sales Associate|30735.849056603773|
|Public Relations ...|           90000.0|
|Digital Marketing...|63333.333333333336|
|    VP of Operations|          190000.0|
|         UX Designer|          118000.0|
|        Receptionist|           25000.0|
|   Account Executive|           95000.0|
|            Director|          200000.0|
|   Marketing Manager|108730.15873015873|
|     Project Manager|110588.23529411765|
|    Social Media Man|          100000.0|
+--------------------+------------------+
only showing top 20 rows

In [15]:
## 10 years old experience (col : Years of Experience)
Years_10 = data.filter(data["Years of Experience"] > 10)
Years_10.show()

+----+------+---------------+--------------------+-------------------+--------+---------+----------------+------+
| Age|Gender|Education Level|           Job Title|Years of Experience|  Salary|  Country|            Race|Senior|
+----+------+---------------+--------------------+-------------------+--------+---------+----------------+------+
|45.0|  Male|              3|             Manager|               15.0|150000.0|   Canada|           White|     1|
|52.0|  Male|              2|            Director|               20.0|200000.0|      USA|           Asian|     0|
|42.0|Female|              2|     Product Manager|               12.0|120000.0|      USA|           Asian|     0|
|48.0|Female|              1|          HR Manager|               18.0|140000.0|       UK|           Asian|     0|
|40.0|Female|              2|     Project Manager|               14.0|130000.0|      USA|African American|     0|
|44.0|  Male|              1|  Operations Manager|               16.0|125000.0|    China|         Chinese|     0|
|39.0|  Male|              3|            Engineer|               12.0|115000.0|       UK|           Mixed|     1|
|51.0|  Male|              1|      Sales Director|               22.0|180000.0|Australia|           Asian|     0|
|47.0|  Male|              2|    VP of Operations|               19.0|190000.0|       UK|           White|     0|
|41.0|  Male|              2|   Financial Manager|               13.0|140000.0|      USA|African American|     0|
|37.0|Female|              2|    Software Manager|               11.0|110000.0|Australia|           Asian|     0|
|43.0|Female|              3|          Consultant|               15.0|140000.0|   Canada|           Black|     1|
|50.0|  Male|              1|                 CEO|               25.0|250000.0|   Canada|           Asian|     0|
|46.0|  Male|              3|             Manager|               20.0|170000.0|      USA|        Hispanic|     1|
|42.0|  Male|              2|    Project Engineer|               14.0|115000.0|    China|           White|     0|
|49.0|  Male|              1|     Sales Executive|               21.0|160000.0|    China|           White|     0|
|48.0|  Male|              2| Operations Director|               18.0|190000.0|   Canada|           Black|     0|
|41.0|  Male|              2| Strategy Consultant|               13.0|130000.0|       UK|           Asian|     0|
|45.0|Female|              2|Director of Marke...|               16.0|180000.0|       UK|           Welsh|     0|
|38.0|  Male|              3|           Scientist|               11.0|120000.0|Australia|           Asian|     1|
+----+------+---------------+--------------------+-------------------+--------+---------+----------------+------+
only showing top 20 rows

In [17]:
## top job titles for seniority 
senior_records = data.filter(data["Senior"] == 1)
top_job_titles = senior_records.groupBy("Job Title").count().orderBy("count", ascending=False).limit(3)
top_job_titles.show()

+--------------------+-----+
|           Job Title|count|
+--------------------+-----+
|    Project Engineer|  316|
|   Software Engineer|  240|
|Product Marketing...|   69|
+--------------------+-----+